In [15]:
use test;


CREATE PROCEDURE AgregarEmpleado(IN _nombre VARCHAR(255), IN _apellido VARCHAR(255), IN _salario DECIMAL(10,2))
BEGIN
    INSERT INTO empleados(nombre, apellido, salario) VALUES (_nombre, _apellido, _salario);
END;

: 1304 (42000): PROCEDURE AgregarEmpleado already exists

: 1304 (42000): PROCEDURE AgregarEmpleado already exists